{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
